* {
  margin: 0px;
  padding: 0px;

}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Noyh;
  src: url(NoyhGeometricSemiLight.otf);
}

@font-face {
  font-family: Ket;
  src: url(Ketimun.otf);
}


@font-face {
  font-family: Kooky;
  src: url(KookyRegular.ttf);
}

body {
  background-color: #F7F0F0;
  height: 100%;
}

header {
  flex-direction: row;
  height: 100px;
  display: flex;

}

.headerfill1 {
  width: 25%;
  height: 100%;
  background-color: #F7F0F0;
}

nav {
  width: 50%;
  height: 100%;
  background-color: F7F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.headerfill3 {
  width: 25%;
  height: 100%;
  background-color: #F7F0F0;
}

ul {
  list-style-type: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

}

ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  font-family: 'Tajawal', sans-serif;
  display: inline-block;
  transition: transform 0.2s ease;
  /* Smooth transition for transform property */
  color: #696969;
}

ul li a:hover {
  animation: bounce 0.6s ease;
  /* Bounce animation on hover */
  transform: scale(0.95);
  /* Slight zoom-out effect */
}





.universe {

  display: flex;
  flex-direction: row;
}

.universefill1 {

  width: 10%;
  height: 3200px;
}

.universefill2 {

  width: 80%;
  height: 3200px;
}


.introduction-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
justify-content: center;
}

.wave {
  height: 30px;
  width: 30px;
}

.introduction {
  font-size: 25px;
  color: #696969;
}

.software-developer {
  color: #797BAE;
  font-family: 'Kaisei Decol', serif;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
justify-content: center;

}

.universefill3 {

  width: 10%;
  height: 3200px;
}

.projects {
  font-size: 50px;
  color: #696969;
  font-family: 'Ket', cursive;
  justify-content: center;
  display: flex;
  font-size: 30px;
}

.capabilities {
  font-size: 50px;
  color: #696969;
  font-family: 'Ket', cursive;
  justify-content: center;
  display: flex;
  font-size: 30px;
}

.capabilities-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.capability-tekst-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  gap: 5px; 
  height: 100%; 
}
.capability1 {
  height: 57px;
  width: 62px;
  background-color: #F7F0F0;
  margin-top: 10px;
}

.bruhidk {
  object-fit: cover;
  height: 57px;
  width: 62px;
 
}
.capability1-tekst {

    text-align: center;
    font-family: 'Itim', cursive;
    color: #696969;



}

.capability11 {
  height: 57px;
  width: 62px;
  background-color: #F7F0F0;
  margin-top: 10px;
}

.capability2 {
  height: 57px;
  width: 62px;
  background-color: #F7F0F0;
  margin-top: 5px;
}

.capability22 {
  height: 57px;
  width: 62px;
  background-color: #F7F0F0;
  margin-top: 10px;
}


.capability3 {
  height: 57px;
  width: 62px;
  background-color:#F7F0F0;
}

.capability33 {
  height: 57px;
  width: 62px;
  background-color: #F7F0F0;
  margin-top: 10px;
}

.capability4 {
  height: 57px;
  width: 62px;
  background-color: #F7F0F0;
  margin-top: 5px;
}

.capability44 {
  height: 57px;
  width: 62px;
  background-color: #F7F0F0;
  margin-top: 10px;
}

.capability5 {
  height: 57px;
  width: 62px;
  background-color: #F7F0F0;
  margin-top: 10px;
}

.capability55 {
  height: 57px;
  width: 62px;
  background-color: #F7F0F0;
  margin-top: 10px;
}

.bio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  gap: 25px;
}
.bio-header {
  font-size: 50px;
  color: #696969;
  font-family: 'Ket', cursive;

  display: flex;
  font-size: 30px;
}

.bio-alt {
display: flex;
flex-direction: row;
gap: 50px;
}

.bio-text {
  font-family: 'Itim', cursive;
font-weight:lighter;
font-size: 27px;
color: #696969;

}

.bio-picture {
width: 280px;
  height: 280px;
  background-color: #797BAE;
}
.bio-picture-class {
  width: 100%;      /* Makes the image take up the full width of the div */
  height: auto;     /* Maintains the aspect ratio of the image */
  object-fit: cover; /* Ensures the image covers the div, cropping if necessary */
  display: block;   /* Removes any extra spacing around the image */
}



.project-container-1 {
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
  overflow: hidden;
}

.bed {
  width: 508px;
  height: 286px;
  object-fit: cover;
  transition: filter 0.4s ease, transform 0.3s ease;
 
}

.bed:hover {
  filter: blur(5px); /
}

.project-window-1 {
  height: 286px;
  width: 508px;
  background-color: #9FA1CD;
}

.tekst-project {
  text-align: center;
  font-family: 'Itim', cursive;
  color: #696969;
}

.richard-respect-button {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.project-window-2 {
  height: 286px;
  width: 508px;
  background-color: #9FA1CD;
}

.fill {
  width: 50px;
  height: 105px;
}

.fill-2 {
  width: 50px;
  height: 50px;
}

.fill2 {
  width: 50px;
  height: 115px;
}

.project-container-2 {
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
}

.project-window-3 {
  height: 286px;
  width: 508px;
  background-color: #9FA1CD;
}

.project-window-4 {
  height: 286px;
  width: 508px;
  background-color: #9FA1CD;
}

footer {

  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.footer-fill-1 {
  background-color: #4F517D;
  width: 25%;
  height: 100%;
}

.footer-fill-2 {
  background-color: #4F517D;
  width: 50%;
  height: 100%;
 
}

.footer-fill-2-trademark {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%; 
  text-align: center;
  font-family: 'Itim', cursive;
  color: #FFFFFF;
  font-weight: lighter;
}

.footer-fill-3 {
  background-color: #4F517D;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;     /* Vertical centering */
 
}

.afbeelding-container {
  justify-content: flex-end;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.githubafbeelding {
  height: 18px;
  height: 18px;

}


.instagramafbeelding {
  height: 18px;
  height: 18px;

}

.linkedinafbeelding {


  height: 18px;
  height: 18px;
}